<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/rouge.css">
    <!-- custom css for cooking blog -->
    {% if page.url contains "cooking" %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="/assets/css/cooking.css">
    {% endif %}
    <link rel="shortcut icon" type="image/png" href="/assets/images/icons8-raspberry-pi-zero-48.png"/>
  <!-- add chessboard.js (and jquery) -->
  {% if page.tags contains "chess" %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/assets/css/chessboard-1.0.0.css">
    <script src="/assets/js/chessboard-1.0.0.js"></script>
  {% endif %}
  </head>
  <body>
    {% include navigation.html %}
    
    <div class="container">
    {% if page.url == "/" %}
    <div class="flex-container">
      <div class="left">
        {{ content }}
      </div>
      <div class="right">
        {% include rcol.html %}
      </div>
    </div>
    
    {% else %}
    {{ content }}
    {% endif %}
  </div>
    
  </body>
  <!-- load mathjax -->
  {% if page.katex %}
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  {% endif %}
</html>
