---
layout: default
---

<div class='entry'>
<h2 class="center">{{ page.title | downcase }}</h2>
<div class="center">
    <div class="subtext">{{ page.date | date: " %b %-d, %Y" }} | 
        {% for cat in page.tags %}<span class="kinda-red">{{ cat }}{% if forloop.last %}{% else %}, {% endif %}</span>
        {% endfor %}</div>
</div>

<!-- {% if page.categories.size > 1 %}
<small>tags:
    {% for cat in page.categories %}[<span class="yellow">{{ cat }}</span>]{% endfor %}
</small>
{% endif %} -->

{{ content }}

<div class="eop">~ end of post ~</div>
</div>

